---
---

/* Sobrescreve a variável de fundo padrão do Primer */
:root {
  --color-canvas-default: #ffffff !important; /* Mude para a cor desejada */
  --color-canvas-subtle: #ffffff !important;  /* Muda fundos secundários */
}

/* Garante que o body use a nova variável */
body {
  background-color: var(--color-canvas-default) !important;
  background-image: none !important;
}   